<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <!-- <img src="https://www.google.com/imgres?q=school%20background&imgurl=https%3A%2F%2Ft4.ftcdn.net%2Fjpg%2F02%2F14%2F31%2F63%2F360_F_214316329_vX8WM2z1DLYfzcyRxqOenc9SJV7gXOyJ.jpg&imgrefurl=https%3A%2F%2Fstock.adobe.com%2Fsearch%3Fk%3Dschool%2Bbackground&docid=1ib3FgbMYRhH5M&tbnid=FrDx43UwFKuHyM&vet=12ahUKEwjxs6We4dCIAxUef_UHHeC8M_AQM3oECGUQAA..i&w=640&h=360&hcb=2&ved=2ahUKEwjxs6We4dCIAxUef_UHHeC8M_AQM3oECGUQAA" alt="" style="min-height: 100vh"> -->
        <h1 class="text-center">Welcome to Student Management</h1>
        <p class="text-center">Please <a href="{{ url_for('login') }}">Login</a> to access the student database.</p>
    </div>
</body>
</html>
